fastapi==0.116.1
uvicorn[standard]==0.35.0
opencv-python==4.11.0.86
mediapipe==0.10.21
protobuf==4.25.3
Pillow==12.2.0
numpy==1.26.4
pandas==2.2.3
python-dateutil==2.9.0.post0
pydantic==2.11.7
python-multipart==0.0.20
reportlab==4.4.3
scikit-learn==1.7.0
joblib==1.5.1
SQLAlchemy==2.0.41
bcrypt==4.2.1
PyJWT==2.10.1
